*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, sans-serif;
    background-color: rgb(32, 32, 32);
    display: grid;
    place-content: center;
    min-height: 100vh;
}
div{
    display: grid;
}
section{
    background-color: #fff;
    place-self: center;
    position: relative;
    width: 96%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 6px 6px 8px 16px rgba(0, 0, 0, 0.8);
}
section h2{
    position: absolute;
    top: -20px;
    left: 50%;
    text-align: center;
    border-radius: 7.8px;
    transform: translateX(-50%);
    font-size: 2rem;
    background-color: #ff0095;
    width: 67%;
    max-width: 400px;
    margin-inline: auto;
    padding-block: .6em;
}
section p{
    padding-inline: 1.8em;
    padding-block: 4em 2.3em;
    margin-top: 28px;
    font-size: 1.3rem;
    font-weight: 400;
}
