*,*::before,*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Karla',sans-serif;
    background-color: hwb(170 84% 4%);
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6;
}
.container{
    display: grid;
    place-content: center;
    /* max-width: 600px; */
    width: 86%;
    margin-block-start: 2.3em;
    margin-block-end: 3em;
}
.content-title h2{
    padding-block-end: .9em;
}

.content-title p{
    font-size: .9em;
    color: hsla(0, 0%, 50%, 0.6);
}
form{
    margin-block-start: 2.3em;
    background-color: #fff;
    padding: 1.7em 1.1em;
    width: 100%;
    max-width: 600px;
    min-height: 670px;
    border-radius: 8px;
    box-shadow: 2px 2px 9px 4px hsl(170, 61%, 60%);
}
.fillers{
    padding-block: .5em;
}
.fillers > label{
    font-weight: 500;
}
.fillers input, select{
    display: block;
    width: 100%;
    height: 36px;
    padding-inline: .8em;
    border: 1px ridge;
}
.fillers input:hover,
.fillers input:focus-visible,
.fillers select:hover,
.fillers select:focus-visible{
    border-color: #2ec4b6;
    outline-color: #2ec4b6;
}
form .btn{
    background-color: #2ec4b6;
    border: none;
    outline: none;
    margin-top: 1.2em;
    padding: .7em 1em;
    width: 100%;
    font-family: inherit;
    color: #fff;
    font-size: 1rem;
    border-radius: 4px;
    transition:  .4s ease-in;
}
form .btn:hover,
form .btn:focus-visible{
    cursor: pointer;
    background-color: hsl(174, 62%, 37%);
}
form .terms{
    margin-block-start: 1.2em;
    text-align: center;
    width: 93%;
}
form .terms > span{
    color: #2ec4b6;
    text-decoration: underline;
}

@media(min-width:850px){
    .container{
        /* display: grid; */
        grid-template-columns: 1fr 1fr;
        gap: 3px;
        width: 100%;
        padding-inline-end: 2em;
    }
    section{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 46%;
        flex-direction: column;
        margin-inline: auto;
        position: relative;
    }
    section img{
        position: absolute;
        left: -6%;
        top: 30%;
    }
    .content-title{
        margin-top: 2.5em;
    }
    form{
        line-height: 2.2;
        width: 80%;
        max-width: 560px;
        margin-top: 4.2em;
        min-height: 640px;
    }
    .form-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 22px;
    }
    form .terms{
        width: 100%;
    }
}